{% extends 'auctions/layout.html'%}

{% block title %}
{{ item.name }}
{% endblock %}

{% block body %}
<div class="container detail-page">
    <h4 class="mb-3">Listing: <span class="title">{{ item.name }}</span></h4>
    <div class="image">
        <img class="big" src="{{ item.imageUrl }}" alt="{{ item.id }}">
    </div>
    <div class="item-description">
        {{ item.description }}
    </div>
    <div class="bid">
        Start Bid : <strong>${{ item.startBid }}</strong>
    </div>
    {% for bid in bids %}
    <div class="text-center">{{ bid.user.username }} bid <strong>{{ bid.bidValue }}</strong> at
        {{ bid.date|date:'M d, h:i a' }}</div>
    {% empty %}
    <div class="alert alert-warning text-center">
        No Bids Yet!
    </div>
    {% endfor %}

    <section class="my-3">
        <!-- {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
        {% endif %} -->



        {% if bid and item.active == False %}

        <div class="alert alert-dark text-center">
            {% if bid.user.username == user.username %}
            You Won The Auction!
            {% else %}
            <strong>{{ bid.user.username }}</strong> won, with a bid of <strong>${{ bid.bidValue }}</strong>
            {% endif %}
        </div>

        {% endif %}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}

        {% if item.active and user.is_authenticated %}
        <form action="{% url 'bid' item.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="number" name="bid" class="form-control" placeholder="Bid" step=".01">
            </div>
            <div class="row justify-content-around">
                <button class="btn btn-primary" type="submit">Place Bid</button>
                {% if item.user.username == user.username %}
                <a href="{% url 'end' item.id %}">
                    <button class="btn btn-warning" type="button">End Auction</button>
                </a>
                {% endif %}
            </div>
        </form>
        {% endif %}
    </section>

    <section>
        Details:
        <ul>
            <li>Listed By: <strong>{{ item.user.username }}</strong></li>
            <li>Category: <strong>{{ item.category.name }}</strong></li>
            <li>Listed On: <strong>{{ item.date }}</strong></li>
            <li>End Date: <strong>{{ item.end_date }}</strong></li>
        </ul>
    </section>

    <!-- <section>
        Comments:
        {% for comment in comments %}
        <div class="card comment">
            <div class="card-body">
                <div class="card-title">
                    <strong>{{ comment.user.username }}</strong>: {{ comment.commentValue }}
                </div>
                <div class="card-text">
                    <small>Commented on: <strong>{{ comment.date|date:'M d, h:i a' }}</strong></small>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="alert alert-info mt-2">
            No Comments Yet
        </div>
        {% endfor %}

        {% if user.is_authenticated %}
        <form action="{% url 'comment' item.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <textarea name="content" rows="4" class="form-control" placeholder="Enter a comment"></textarea>
            </div>
            <button class="btn btn-dark py-2 px-4" type="submit">Comment</button>
        </form>

        <form action="{% url 'watchlist' %}" method="post" class="add-category">
            {% csrf_token %}
            <input type="hidden" name="item" value="{{ item.id }}">
            <input type="hidden" value="{% if item in user.watchlist.all %}0{% else %}1{% endif %}" name="status">
            <button class="gradient-button watchlist" type="submit">
                {% if item in user.watchlist.all %}Remove from{% else %}Add to{% endif %} Watchlist
            </button>
        </form>
        {% endif %}
    </section> -->

    <style>
        .btn {
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 0.25rem;

            
        }FF6347

        .btn-primary {
            background-color: #0069d9;
            color: #fff;
            /* border-color: #000000; */
            border: 1px solid black;
        }
        .btn-warning {
            background-color: #FF4500;
            color: #fff;
            /* border-color: #000000; */
            border: 1px solid black;
        }
        .btn-warning:hover {
            background-color: #FF6347;
            color: #fff;
            border-color: #FF6347;
            box-shadow: 0 10px 20px rgba(255, 255, 255, 0.100), 0 6px 6px rgba(0, 0, 0, 0.23);
        }

    

        .btn-primary:hover {
            background-color: #007bff;
            color: #fff;
            border-color: #0062cc;
            box-shadow: 0 10px 20px rgba(255, 255, 255, 0.100), 0 6px 6px rgba(0, 0, 0, 0.23);
        }

        .button-row-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            max-width: 500px;
            /* set a maximum width for the container */
            margin: 0 auto;
            /* center the container */
        }

        .button-row {
            font-family: "Allerta Stencil", Gadget, sans-serif;
            display: inline-block;
            border: none;
            padding: 10px 20px;
            font-size: 18px;
            text-align: center;
            text-decoration: none;
            background-color: #f1f1f100;
            color: #ffffff;
            cursor: pointer;
            width: 100%;
            max-width: 700px;
            transition: 0.5s;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.400);
            border-radius: 0.25rem;

            border: 1px solid black;
        }

        .button-row:hover {
            box-shadow: 0 10px 20px rgba(255, 255, 255, 0.100), 0 6px 6px rgba(0, 0, 0, 0.23);
            /* margin: 8px 10px 12px; */
            background-position: right center;
        }

        .button-raw:focus {
            outline: none;
        }

        .back {
            margin-right: 0;
            /* align to the left */
            width: auto;
            /* Set width to auto */

        }

        .home {
            margin: 0 auto;
            flex-grow: 1;
            /* take up remaining space */
            width: auto;
            /* Set width to auto */
        }

        .next {
            margin-left: 0;
            /* align to the right */
            width: auto;
            /* Set width to auto */
        }
    </style>


    <hr>
    <br>

    <div class="button-row-container">
        <a href="#" id="back-link">
            <input class="button-row back" type="button" value="Back">
        </a>

        <a href="http://tuzovauction.com/all">
            <input class="button-row home" type="button" value="Home">
        </a>

        <a href="#" id="next-link">
            <input class="button-row next" type="button" value="Next">
        </a>
    </div>


    <script>

        var currentUrl = window.location.href;

        // extract the number from the current URL
        var num = parseInt(currentUrl.match(/details\/(\d+)/)[1]);

        // generate the URL for the back button
        var backNum = num - 1;
        var backUrl = backNum > 0 ? "http://tuzovauction.com/details/" + backNum : "";
        document.querySelector(".back").href = backUrl;

        // generate the URL for the next button
        var nextNum = num + 1;
        var nextUrl = "http://tuzovauction.com/details/" + nextNum;
        document.querySelector(".next").href = nextUrl;

    </script>

    <br>


    {% endblock %}